/* ============================================================================ */

  /* ASIDE BAR CSS */

/* ============================================================================ */

  aside{
    float: right;
    width: 20%;
    border: 1px solid;
  }

/* ============================================================================ */

  /* ASIDE BAR CSS */

/* ============================================================================ */

/* ============================================================================ */

  /* CONTENT CSS */

/* ============================================================================ */
  section.content{
    float: left;
    width: 77%;
    border: 1px solid;
  }
/* ============================================================================ */

  /* CONTENT CSS */

/* ============================================================================ */
